* {
  margin: 0px;
  padding: 0px;
  font-family: "Comic Sans MS";
}

h2 {
  background-color: white;
  color: rgb(219,112,147);
}

a:link, a:visited, a:active {
  text-decoration:none;
}

body {
  background-color: rgb(242, 242, 242);
}

.header {
  display: grid;
  grid-template-columns: 13vw 81vw;
  grid-template-rows: 2.5vw 3vw;
  flex-flow: column wrap;
  background-color: rgb(219,112,147);
  background-position: 0px;
  position: fixed;
  width: 100vw;
  z-index: 2;
  top: 0;
}

.header__nav {
  grid-column: 2 / 2;
  background-color: rgb(219,112,147);
  margin-top: 0.5vw;
  left: 20%;
  flex-wrap: nowrap;
  flex-direction: row;
}

.header__logo {
  grid-column: 1;
  height: 7vw;
  display: flex;
}

.header__logo:hover {
  animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.47, 0.99) both;  
}

.header__logo img {
  width: auto;
  height: 5.5vw;
  margin-left: 0vw;
  animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.47, 0.99) both;
}

.header__nav__menu {
  grid-area: nav__menu;
  padding: 0px;
  margin: 0.3rem;
  list-style: none;
}
.header__nav__lista__menu {
  grid-area: menu;
  color: #fff;
  margin: 8px;
  margin-left: 0.4vw;
  top: 3%;
  font-size: 1.4vw;
  font: icon;
}

.header__nav__lista__menu:hover {
  color: rgb(236 24 94);
}

.header__nav__lista {
  display: inline;
}

.header__nav__buscador{
  grid-column: 2;
  padding: 0.2rem;
  display: flex;
  justify-content: flex-start;
  align-content: stretch;
  height: 2vw;
}

.header__nav__buscador__pay {
  margin-left: 3vw;
  display: grid;
  grid-template-columns: 3vw 14vw;
  grid-template-rows: 2.5vw;
  align-content: center;
  align-items: center;
}

.header__nav__buscador__pay__summary {
  display: flex;
  color: white;
  fill: white;
}

.header__nav__buscador__pay__item {
  display: flex;
  margin-left: 1.3vw;
  color: white;
}

.header__nav__buscador__pay__item__cantidad {
  margin: 2vw;
}

main {
  margin-top: 8vw;
}

.mediosdiv {
  display: block;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.medios {
  width: 5vw;
  margin-inline: 0.5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6vw 2vw;
  height: auto;
  grid-auto-rows: 1fr 1fr;
  gap: 0 2%;
  grid-template-areas:
    "SocialMedia"
    "LeyedaFoot";
}

.socialMedia {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  background-color: palevioletred;
  margin: 1vh;
  padding-top: 0.3vw;
  height: 5vw;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.socialMedia li a img {
  width: 4vw;
  height: auto;
}

.socialMedia li a img:hover {
  width: 5vw;
}

.LeyendaFoot {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: auto;
  font-size: 1.4vw;
  font-family: "Comic Sans MS";
  color: gray;
}