* {
  margin: 0px;
  padding: 0px;
  font-family: "Comic Sans MS";
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  padding: 0%;
  color: #db7093;
}

body {
  background-color: rgb(242, 242, 242);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;
}

.bg-light {
  background-color: rgb(219, 112, 147) !important;
}

.header__logo {
  grid-column: 1;
  height: 5vw;
  display: flex;
  border-radius: 0.3vw;
}

.navbar-light .navbar-toggler {
  background-color: white;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(255, 255, 255, 0.9);
}

.btn:not(:disabled):not(.disabled) {
  color: #db7093;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn:not(:disabled):not(.disabled):hover {
  color: #ffffff;
  background-color: rgb(255, 0, 212);
  border-color: rgb(255, 0, 212);;
}

.header__nav__buscador__pay {
  margin-left: 3vw;
  display: grid;
  grid-template-columns: 3vw 14vw;
  grid-template-rows: 2.5vw;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__nav__buscador__pay__summary {
  display: flex;
  color: white;
  fill: white;
}

.header__nav__buscador__pay__item {
  display: flex;
  margin-left: 1.3vw;
  color: white;
}

.header__nav__buscador__pay__item__cantidad {
  margin: 2vw;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    flex-wrap: wrap;
  }
}

main {
  margin-top: 6rem;
  margin-bottom: 3rem;
  display: grid;
  grid-column: 2;
  grid-row: 3;
  justify-content: space-evenly;
  align-items: center;
}

h2 {
  color: #db7093;
  background-color: white;
}

.iconup {
  width: 6rem;
  background-color: white;
  border-radius: 50%;
}

.uno {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;     
}

.one {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
}

.dos {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;  
}

.two {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
}

.tres {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 2;    
}

.three {
  grid-row-start: 3;
  grid-column-start: 2;
}

.mediosdiv {
  display: block;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

#codpostal {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.medios {
  width: 5vw;
  margin-inline: 0.5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  background-color: white;
}

@media (min-width: 575.98px) {
  .autop {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .header__logo {
    height: 10vw;
  }
  main {
    margin-top: 18vw;
  }
  h1 {
    font-size: 1.6rem;
  }
  .iconup {
    display: none;
  }
  h2 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6vw 2vw;
  height: auto;
  grid-auto-rows: 1fr 1fr;
  gap: 0 2%;
  grid-template-areas:
    "SocialMedia"
    "LeyedaFoot";
}

.socialMedia {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  background-color: palevioletred;
  margin: 1vh;
  padding-top: 0.3vw;
  height: 5vw;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.socialMedia li a img {
  width: 4vw;
  height: auto;
}

.socialMedia li a img:hover {
  width: 5vw;
}

footer p {
  margin-top: 0.3rem;
}

.LeyendaFoot {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: auto;
  font-size: 1.4vw;
  font-family: "Comic Sans MS";
  color: gray;
}