* {
  margin: 0px;
  padding: 0px;
  font-family: "Comic Sans MS";
}

a:link, a:visited, a:active {
  text-decoration:none;
}

body {
  background-color: rgb(242, 242, 242);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

.bg-light {
  background-color: rgb(219,112,147) !important;
}

.header__logo {
  grid-column: 1;
  height: 5vw;
  display: flex;
  border-radius: 0.3vw;
}

.navbar-light .navbar-toggler {
  background-color: white;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: rgba(255, 255, 255, 0.9);
}

.btn:not(:disabled):not(.disabled) {
  color: #db7093;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn:not(:disabled):not(.disabled):hover {
  color: #ffffff;
  background-color: rgb(236 24 94);
  border-color: rgb(236 24 94);
}

.header__nav__buscador__pay {
  margin-left: 3vw;
  display: grid;
  grid-template-columns: 3vw 14vw;
  grid-template-rows: 2.5vw;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
  align-items: center;
}

.header__nav__buscador__pay__summary {
  display: flex;
  color: white;
  fill: white;
}

.header__nav__buscador__pay__item {
  display: flex;
  margin-left: 1.3vw;
  color: white;
}

.header__nav__buscador__pay__item__cantidad {
  margin: 2vw;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {  
    display: flex !important;
    flex-basis: auto;
    flex-wrap: wrap;
  }
}

main {
  margin-top: 7vw;
}

.SeccionOne {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr 1fr;
  gap: 0 2%;
  grid-auto-flow: row;
  grid-template-areas:
    "SeccionOne__P1 SeccionOne__P2 SeccionOne__P3";
  width: 100vw;
  overflow: hidden;
  font-family: "Comic Sans MS";
  justify-content: center;
  align-items: center;
}

.SeccionOne__P1 {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30vw;
  margin-left: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 25px;
  color: #FFFFFF;
  background-color: rgb(219,112,147);
  padding: 5px;
  border-radius: 15px;
  transition: all 0.3s;
}

.SeccionOne__P2 {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30vw;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 25px;
  color: #FFFFFF;
  background-color: rgb(219,112,147);
  padding: 5px;
  border-radius: 15px;
  transition: all 0.3s;
}

.SeccionOne__P3 {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 25px;
  color: #FFFFFF;
  background-color: rgb(219,112,147);
  padding: 5px;
  border-radius: 15px;
  transition: all 0.3s;
}

.SeccionOne__P1:hover {
  width: 35vw;
}

.SeccionOne__P2:hover {
  width: 35vw; 
}

.SeccionOne__P3:hover {
  width: 35vw;
}

.SeccionOneTitulo {
  animation: 3s infinite alternate slidein;
}

h1 {
  color: palevioletred;
  font-family: "Comic Sans MS";
  font-size: 6vw;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 0rem;
}

.SeccionOne div img {
  display: flex;
  align-items: center;
  height: auto;
  margin: 1rem;
  flex-direction: column;
  justify-content: center;
}

.SeccionTwoTitulo {
  color: palevioletred;
  font-family: "Comic Sans MS";
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}

.SeccionTwo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr 1fr;
  gap: 0 2%;
  grid-auto-flow: row;
  grid-template-areas:
    "SeccionTwo__P1 SeccionTwo__P2 SeccionTwo__P3";
  width: 100vw;
  overflow: hidden;
  font-family: "Comic Sans MS";
  justify-content: center;
  align-items: center;
}

.SeccionTwo__P1 {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30vw;
  margin-left: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 25px;
  color: #FFFFFF;
  background-color: rgb(219,112,147);
  padding: 5px;
  border-radius: 15px;
  transition: all 0.3s;
}

.SeccionTwo__P2 {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30vw;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 25px;
  color: #FFFFFF;
  background-color: rgb(219,112,147);
  padding: 5px;
  border-radius: 15px;
  transition: all 0.3s;
}

.SeccionTwo__P3 { 
  grid-column: 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 25px;
  color: #FFFFFF;
  background-color: rgb(219,112,147);
  padding: 5px;
  border-radius: 15px;
  transition: all 0.3s;
}

.SeccionTwo__P1 {
  grid: SeccionOne__P1;
}

.SeccionTwo__P2 {
  grid: SeccionOne__P2;  
}

.SeccionTwo__P3 {
  grid: SeccionOne__P3;
}

.SeccionTwo div img {
  display: flex;
  align-items: center;
  height: auto;
  margin: 3rem;
  flex-direction: column;
  justify-content: center;
}

a:hover {
  color: rgb(236 24 94);
}

@media (max-width: 575.98px){
  .header__logo {
    height: 10vw;
  }
  main {
    margin-top: 18vw;
  }
  h1 {
    font-size: 1.6rem;
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6vw 2vw;
  height: auto;
  grid-auto-rows: 1fr 1fr;
  gap: 0 2%;
  grid-template-areas:
    "SocialMedia"
    "LeyedaFoot";
}

.socialMedia {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  background-color: palevioletred;
  margin: 1vh;
  padding-top: 0.3vw;
  height: 5vw;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.socialMedia li a img {
  width: 4vw;
  height: auto;
}

.socialMedia li a img:hover {
  width: 5vw;
}

.LeyendaFoot {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: auto;
  font-size: 1.4vw;
  font-family: "Comic Sans MS";
  color: gray;
}