* {
  margin: 0px;
  padding: 0px;
}

.header {
  display: grid;
  grid-template-columns: 10rem 50rem;
  grid-template-rows: 2.5rem 2rem;
  flex-flow: column wrap;
  background-color: rgb(219,112,147);
  background-position: 0px;
  position: sticky;
  width: 100%;
  z-index: 2;
  height: 4.7rem;
}

.header__nav {
  display: grid;
  grid-template-columns: 10rem 50rem;
  grid-template-rows: 2.5rem 2rem;
  flex-flow: column wrap;
  grid-template-areas:
      "logo nav__menu"
      "logo nav__buscador";
  background-color: rgb(219,112,147);
  top: 3%;
  left: 20%;
  flex-wrap: nowrap;
  flex-direction: row;
}

.header__logo {
  grid-area: logo;
  width: 150px;
  display: inline-block;
}

.header__logo img {
  width: 9.5rem;
  margin-left: 0vw;
  animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.47, 0.99) both;
}

.header__nav__menu {
  grid-area: nav__menu;
  padding: 0px;
  margin: 0.3rem;
  list-style: none;
}
.header__nav__lista__menu {
  grid-area: menu;
  color: #fff;
  text-decoration: none;
  font-family: "Comic Sans MS";
  font-size: 1rem;
  font-weight: 500;
  margin: 10px;
  top:3%
}

.header__nav__lista {
  display: inline;
}

.header__nav__buscador{
  grid-area: nav__buscador;
  padding: 0.2rem;
  margin-left: 0.6rem;
  display: flex;
  align-content: stretch;
  justify-content: flex-start;
}